.playground {
    position: relative;
    width: fit-content;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    gap: 5em;
    color: white;
    position: absolute;
    z-index: 0;
    top: 20px;
    left: calc(50% - 175px);
}

#player1, #player2 {
    font-size: 2em;
}

#message {
    font-size: 2em;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    position: absolute;
    width: 700px;
    z-index: 0;
    bottom: -20px;
    left: 0;
}